body {
  /* background-color: black !important; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.Dark{
  background-color: #1b1b1d !important;
}
/* body.light{ */
  /* background-color: aquamarine  !important; */
/* } */

.text-color-dark{
 color:#212529 ; 

}
.text-color-light{
 color:#dee2e6 ; 

}
.body-div{
  /* background-color: red; */
  display: flex;
  width: 60%;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 5px;
  /* align-items: center; */
  margin: 0 auto;

}
.img-dark{
  filter: invert(100%);
}

.img-light{
  filter: none;

}